*{
    margin: 0;
    padding: 0;
}
body{
    font-weight: 500;
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
}
.container{
    min-width: 375px; 
}
.header{
    display: flex;
    justify-content: center;
    padding: 24px 80px;
    font-size: 28px;
    text-align: center;
}

.header_a{
    text-decoration:none;
    color: #000;
}
.header_a:first-child{
    margin-right: 40px;
}
img{
    width: 100%;
}
.introduce{
    padding: 24px 24px 200px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #0027D5;
    background-image: url("./img/desktop/index/index_介紹背景.jpg");
    background-size: contain;
}

.intro_name{
    font-weight: 900;
    font-size: 52px;
}
.intro_job{
    font-weight: 700;
    font-size: 28px;
    position: static;
}
.intro_text{
    padding: 40px 24px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-top: -200px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.intro_text_btn{
    display: flex;
    width: 44px;
    height: 44px;
    font-size: 24px;
    color: #0027D5;
}
.icon{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

/* service */
.services_wrap, .services{
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.services_wrap h2{
    font-size: 48px;
    text-align: center;
    margin-top: 64px;
}
.services img{
    min-width: 351px;
    aspect-ratio: 1.5/1;
}
.card{
    display: flex;
    flex-direction: column;
}
.card_body{
    padding: 24px ;
}
.cb_text h3{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 8px;
}
.cb_text p{
    color: #4B4B4B;
}
.cb_line{
    border-bottom:2.5px solid #0027D5;
    width: 30px;
    margin: 20px 0;
}
.serv_connect{
    display: flex;
    flex-direction: column;
    gap:8px;
}
.serv_connect_p{
    text-align: right;
    font-weight: 700;
    font-size: 28px;
}
.serv_connect_btn{
    cursor: pointer;
    border:1px solid #000;
    width: 20px;
    padding: 8px;
    border-radius: 40px;
    margin-left: auto;
}

/* blog */
.blog_wrap{
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.blog_wrap h2{
    font-size: 48px;
    text-align: center;
    margin-top: 64px;
}
.blog{
    width: 300%;
    display: flex;
}
.hashtag{
    font-size: 24px;
    color: #0027D5;
}